.chart {
    padding: 10px;
  }
  
  .controls__form {
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .controls__product {
    text-align: center;
  }
  
  .control__label {
    font-size: 18px;
    margin-right: 5px;
  }
  
  #chartContainer {
    height: 370px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
  }
  