<!-- <div class="container">
  <div class="row">

    <ul *ngIf="categories">
      <ng-container *ngFor="let category of categories">
        <li *ngIf="category.parentCategory == null">
          <div class="col-md-3">
            <span class="thumbnail">
              <h4 class="text-center">
                <span class="label label-primary">{{category.name}}</span>
                <p>{{category.updateDate}}</p>
              </h4>
            </span>
          </div>
        </li>
      </ng-container>
    </ul>

  </div>
</div> -->

<nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="main_nav_content d-flex flex-row">

            <div class="cat_menu_container">

              <ul class="cat_menu">
                <li><a href="#">Computers & Laptops <i class="fas fa-chevron-right ml-auto"></i></a></li>
                <li><a href="#">Cameras & Photos<i class="fas fa-chevron-right"></i></a></li>
                <li class="hassubs">
                  <a href="#">Hardware<i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li class="hassubs">
                      <a href="#">Menu Item<i class="fas fa-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>
                <li><a href="#">Smartphones & Tablets<i class="fas fa-chevron-right"></i></a></li>
                <li><a href="#">TV & Audio<i class="fas fa-chevron-right"></i></a></li>
                <li><a href="#">Gadgets<i class="fas fa-chevron-right"></i></a></li>
                <li><a href="#">Car Electronics<i class="fas fa-chevron-right"></i></a></li>
                <li><a href="#">Video Games & Consoles<i class="fas fa-chevron-right"></i></a></li>
                <li><a href="#">Accessories<i class="fas fa-chevron-right"></i></a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </nav>