<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>
<body>
    <div class='column is-one-quarter has-image-centered'>
        <div class='card equal-height'>
          <div class='card-content'>
            <figure class='image is-large is-centered'><img src='http://farm5.static.flickr.com/4026/4539399344_9b7ba78e68.jpg'></figure>
          </div>
        </div>
    </div>
    <main>
        <div class="intro">
          <h1>Looking for a new laptop? We got you all set up!</h1>
            <p>
              Check out our Black Friday offers!
            </p>
        </div>
      
        <div class="multi-section">
          <img src="/assets/responsive.png" />
          <div>
            <h3>Software</h3>
            <p>Software licences for the best price. Delivered immediately. Trusted, fast and secure. Easy buy and download the products you are looking for. Both operating systems, office software or security software.
            <b>TECHnique</b> always has a suitable solution for the best price.</p>
          </div>
        </div>
      
        <div class="multi-section-two">
            <img class="a" src="/assets/programming.png" />
            <div class="b">
              <h3>Hardware</h3>
              <p>If you're looking for quality hardware tools, look no further than <b>TECHnique</b>.
                We stock a full range of hardware and accessories to meet every need. Search your products by type, brand and more for a hassle-free shopping experience.
              </p>
            </div>
        </div>
      
        <div>
          <h3>Are you convinced?</h3>
          <p>Check out our offers right now</p>
          <a href="/category" class="category">Shop </a>
        </div> 
      </main>
</body>



