<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>

  <app-header></app-header>

  <main>
    <section class="hero is-primary is-centered level">
      <div class="hero-body ">
        <div class="container ">
          <h1 class="title level-item has-text-centered">
            Looking for a new laptop? We got you all set up!
          </h1>
          <h2 class="subtitle level-item has-text-centered">
            Check out our Black Friday offers!
          </h2>
        </div>
      </div>
    </section>


    <div class="box is-pulled-left level-item has-text-centered is-large">
      <img src="http://www.gdsafrica.com/image/data/support/software.jpg" class="is-large" />
      <div class="section is-pulled-right">
        <div class="title">Software</div>
        <p>Software licences for the best price. Delivered immediately. Trusted, fast and secure. Easy buy and download the
          products you are looking for. Both operating systems, office software or security software.
          <b>TECHnique</b> always has a suitable solution for the best price.</p>
      </div>
    </div>

    <div class="box is-pulled-right level-item has-text-centered is-large">
      <img class="is-large" src="http://1.bp.blogspot.com/-XF6tqjvS0_U/VPF8bOadDVI/AAAAAAAAAoA/X0aTKN4Ntf8/s1600/echo15tbdock_peripherals.png"
      />
      <div class="section is-pulled-right">
        <div class="title">Hardware</div>
        <p>If you're looking for quality hardware tools, look no further than
          <b>TECHnique</b>. We stock a full range of hardware and accessories to meet every need. Search your products by type,
          brand and more for a hassle-free shopping experience.
        </p>
      </div>
    </div>
    <section class="section is-centered level">
      <div class="container has-text-centered">
        <h1 class="title">
          Are you convinced?
        </h1>
        <h2 class="subtitle">
          Check out our offers right now!
        </h2>
        <a href="/category" class="button is-primary is-large is-centered">Shop now! </a>
      </div>
    </section>


  </main>
</body>