<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>
<app-header></app-header>

<section class="hero is-primary is-centered level">
  <div class="hero-body ">
    <div class="container ">
      <h1 class="title level-item has-text-centered">
        Want to improve the Sales Management System?
      </h1>
      <h2 class="subtitle level-item has-text-centered">
        We have plenty of tools you can use!
      </h2>
    </div>
  </div>
</section>

<body>
   <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
              Administration Tools
          </h1>
          <h2 class="subtitle">
            Back-office tools for Sales Management System Improvement
          </h2>
          <aside class="menu">
              <ul class="menu-list">
                <li>
                  <p >
                      <a routerLink="/bo_products" class="nav-link" class="button  is-large is-primary">
                        BO - Products
                      </a>
                  </p>
                </li>
                <li>
                  <p>
                      <a routerLink="/bo_employees" class="nav-link" class="button  is-large is-primary"
                      >BO - Employees
                    </a>
                  </p>
                </li>

                <br/>
                <br/>

                <li>
                  <p>
                      <a routerLink="/bi" class="nav-link" class="button  is-large is-primary">
                        Business Intelligence Solutions
                      </a>
                  </p>
                </li>
              </ul>
           </aside>
        </div>
      </div>
    </section>

    <app-footer></app-footer>
</body>