<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>

    <app-header></app-header>
    <main>

        <section class="hero is-info is-small">
            <div class="hero-body">
                <div *ngIf="category" class="container has-text-centered">
                    <p class="title">
                        {{ category.name }}
                    </p>
                    <p class="subtitle">
                        {{ category.parentCategory === null? "Products" : category.parentCategory.name }}
                    </p>
                </div>
            </div>
        </section>
        <div *ngIf="category" class="box cta">
            <p class="has-text-centered">
                <span class="tag is-primary">Description</span> {{ category.description === ""? "Description to be added.": category.description }}
            </p>
        </div>


        <section *ngIf="items" class="container">
            <div *ngFor="let i of counter()" class="columns features">
                <ng-container *ngFor="let item of items">

                    <ng-container *ngIf="( (items.indexOf(item) >= (i * 5)) && (items.indexOf(item) < ((i + 1) * 5)) )">

                        <div id="main-div" class="column is-one-fifth">
                            <div (click)="onClick(item)" class="card is-shady has-border has-padding-top standard-height">
                                <div class="card-image no-pointer-events">
                                    <figure class="image is-4by3 no-pointer-events">
                                        <img [src]="item.imageUrl" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content no-pointer-events">
                                    <div class="content has-text-centered no-pointer-events">
                                        <h4> {{ item.name }}</h4>
                                        <span class="tag is-price to-bottom no-pointer-events"> {{ item.price }} lei </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>

                </ng-container>
            </div>
        </section>

        <!-- ***** Modal ***** -->
        <div *ngIf="item" [ngClass]="{'is-active': shouldShow}" class="modal">
            <div (click)="onCloseModel()" class="modal-background"></div>
            <div class="modal-content">
                <div class="modal-container">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="column div-center">
                                <h1 class="heading__primary"> {{ item.name }} </h1>
                                <h1 class="heading__primary"> {{ item.price }} lei</h1>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="column div-center">
                                <h1 class="heading__primary"> {{ item.description === "" ? "Description to be added." : item.description }} </h1>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                            <a class="button is-primary">
                                Add to cart
                            </a>
                        </p>
                        <p class="control">
                            <a (click)="onCloseModel()" class="button is-light">
                                Close
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <button (click)="onCloseModel()" class="modal-close is-large" aria-label="close"></button>
        </div>

    </main>


    <app-footer></app-footer>

</body>
</html>



<!-- <div class="column is-one-fifth">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="card is-shady has-border">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>Tempor orci dapibus ultrices in.</h4>
                                        <p>Ut venenatis tellus in metus vulputate.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card is-shady has-border">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4>Tempor orci dapibus ultrices in.</h4>
                                        <p>Ut venenatis tellus in metus vulputate.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
