<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>

    <app-header></app-header>

    <main>

        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p class="title">This is the complete list of the TechNique products</p>
                    <p class="subtitle">TechNique Product Management</p>
                </div>
            </div>
        </section>
        <br>

        <div>
            <section class="section">
                <p class="control level">
                    <a class="button is-success" (click)="onAdd()">Add Product</a>
                </p>
                <br>
                <div class="columns is-centered">
                    <div class="column is-narrow">
                        <table class="table is-responsive is-mobile is-centered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Stock</th>
                                    <th>Listed</th>
                                    <th>Price</th>
                                    <th>Update date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items">
                                    <td>{{item.name}}</td>
                                    <td>{{item.category.name}}</td>
                                    <td>{{item.stockQuantity}} units</td>
                                    <td>{{item.listed}}</td>
                                    <td>{{item.price}} lei</td>
                                    <td>{{item.updateDate}}</td>
                                    <td>
                                        <a class="button is-warning is-small" (click)="onUpdate(item)">Update Item</a>
                                    </td>
                                    <td>
                                        <a class="button is-danger is-small" (click)="onDelete(item)">Delete Item</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

        <!-- ***** Modal ***** -->
        <div *ngIf="item" [ngClass]="{'is-active': shouldShow}" class="modal">
            <div (click)="onCloseModel()" class="modal-background"></div>
            <div class="modal-content">
                <div class="modal-container">

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="column">
                                <label class="label">Name</label>
                                <p class="control has-icons-left">
                                    <input [(ngModel)]="item.name" class="input" type="text">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="column">
                                <label class="label">Category</label>
                                <p class="control has-icons-left">
                                    <select [(ngModel)]="selectedCategory" class="input has-text-centered is-cursor-pointer" name="category">
                                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                                    </select>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-city"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="column is-3">
                                <label class="label">Stock quantity</label>
                                <p class="control">
                                    <input [(ngModel)]="item.stockQuantity" class="input has-text-centered" type="text">
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                            <a (click)="onSubmit()" class="button is-primary">
                                Submit
                            </a>
                        </p>
                        <p class="control">
                            <a (click)="onCloseModel()" class="button is-light">
                                Cancel
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <button (click)="onCloseModel()" class="modal-close is-large" aria-label="close"></button>
        </div>

    </main>

</body>