<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>
  <app-header></app-header>
  <main>

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <p class="title">A complete list of products available</p>
          <p class="subtitle">TechNique Product Management</p>
        </div>
      </div>
    </section>

    <br>

    <div>
      <section class="section">
        <p class="control level">
          <a class="button is-success" (click)="onAdd()">Add Product</a>
        </p>
        <br>
        <div class="columns is-centered">
          <div class="column is-narrow">
            <table class="table is-responsive is-mobile is-centered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>StockQuantity</th>
                  <th>Update Date</th>
                  <th>Category</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.stockQuantity}}</td>
                  <td>{{item.updateDate}}</td>
                  <td>{{item.category.name}}</td>
                  <td>
                    <a class="button is-warning is-small">Update Product</a>
                  </td>
                  <td>
                    <a class="button is-danger is-small">Delete Product</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <!-- ***** Modal ***** -->
    <div *ngIf="item" [ngClass]="{'is-active': shouldShow}" class="modal">
      <div (click)="onCloseModel()" class="modal-background"></div>
      <div class="modal-content">
        <div class="modal-container">

          <div class="field is-horizontal">
            <div class="field-body">

              <div class="column is-5">
                <label class="label">Product name</label>
                <p class="control has-icons-left">
                  <input [(ngModel)]="item.name" class="input" type="text">
                  <span class="icon is-small is-left">
                                    <i class="fas fa-cross"></i>
                                </span>
                </p>
              </div>

              <div class="column">
                <label class="label">Product type</label>
                <p class="control has-icons-left has-icons-right">
                  <input [(ngModel)]="item.item_type" class="input" type="text">
                  <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                </p>
              </div>

            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="column is-5">
                <label class="label">Description</label>
                <p class="control has-icons-left">
                  <input [(ngModel)]="item.description" class="input has-text-centered" type="text">
                  <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">

              <div class="column is-5">
                <label class="label">Quantity</label>
                <p class="control has-icons-left">
                  <input [(ngModel)]="item.stockQuantity" class="input" type="text">
                  <span class="icon is-small is-left">
                                    <i class="fas fa-road"></i>
                                </span>
                </p>
              </div>

              <div class="column is-3">
                <label class="label">Category</label>
                <p class="control">
                  <input [(ngModel)]="item.category.name" class="input has-text-centered" type="text">
                </p>
              </div>
            </div>
          </div>

          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a (click)="onSubmit()" class="button is-primary">
                Submit
              </a>
            </p>
            <p class="control">
              <a (click)="onCloseModel()" class="button is-light">
                Cancel
              </a>
            </p>
          </div>
        </div>
      </div>
      <button (click)="onCloseModel()" class="modal-close is-large" aria-label="close"></button>
    </div>

  </main>
</body>
