<section class="chart">
    <div class="controls">
        <form action="#" class="controls__form">
            <label for="product" class="control__label">Select a product:</label>
            <select [(ngModel)]="selectedValue" (change)="changeItem()" name="product" id="product" class="controls__product">
                <option value="-1">--- Select a product ---</option>
                <option *ngFor="let item of items" [value]="item.id">{{item.name}}</option>
            </select>
        </form>
    </div>
    <div id="chartContainer"></div>
</section>