<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<nav class="navbar ">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navMenubd-example">
    </div>
  </div>
  
  <a class="button is-danger"(click)="onLogout()" routerLink="">Logout</a>
  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
    <div class="navbar-item is-hoverable">
        <a class="navbar-link  is-active" routerLink="/aboutus">
          About Us
        </a>
    </div>
    <div class="navbar-item is-hoverable">
        <a class="navbar-link  is-active" routerLink="/contact">
        Contact Us
        </a>
    </div>
    <div class="navbar-item is-hoverable">
        <a class="navbar-link  is-active" routerLink="/category">
          Products
        </a>
    </div>
    <div class="navbar-item is-hoverable">
        <a class="navbar-link  is-active" routerLink="/bo_products">
            Back Office Products
        </a>
    </div>
    <div class="navbar-item is-hoverable">
        <a class="navbar-link  is-active" routerLink="/bo_employees">
            Back Office Employees
        </a>
    </div>
</div>
</div>
</nav>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        TechNique
      </h1>
      <h2 class="subtitle">
        Welcome to our e-store!
      </h2>
    </div>
  </div>
</section>